html{
    background-color: white;
}

.cartSide{
    /* border: 5px solid green; */
    width: 70%;
}

span{
    font-size: 2rem;
}

.liContainer{
    border: 5px solid gray;
    display: flex;
    margin-bottom: 40px;
    min-width: 500px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.imgSide{
    width: 30%; 
}

.descSide{
    font-size: 2rem;
    width: 70%;
    min-width: 500px;
    padding: 10px;
}

.innerDesc{
    display: flex;
    justify-content: space-between;
}

.checkoutSide{
    padding: 10px;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 3rem;
}

img{
    height: 200px;
    width: 200px;

}

button{
    display: block;
    background-color: gold;
    border-radius: 15px;
    width: 170px;
    margin-top: 15px;
    font-size: 2rem;
}

button:hover{
    background-color: goldenrod;
    cursor: pointer;
}

.upCart{
    display: inline;
}

.delete{
    font-size: 1.5rem;
    color: rgb(48, 48, 197);
}

.delete:hover{
    cursor: pointer;
    text-decoration: underline;
}

.disclaimer{
    font-size: 1.5rem;
}

.hidden{
    display: none;
}