html{
    background-color: white;
}

.container{
    border: 1px solid red;
}

.cartSide{
    border: 1px solid blue;
    width: 70%;
}

span{
    font-size: 2rem;
}

.liContainer{
    border: 5px solid green;
    display: flex;
    width: 100%;
}
.imgSide{
    border: 1px solid orange;
    width: 30%; 
}

.descSide{
    border: 3px solid purple;
    margin-left: 40px;
    font-size: 2rem;
    width: 100%;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

img{
    height: 200px;
    width: 200px;

}

button{
    display: block;
    background-color: gold;
    border-radius: 15px;
    width: 170px;
    margin-top: 15px;
    font-size: 2rem;
}
