/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  html{
      font-size: 62.5%;
      background-color: rgb(236, 236, 236);
  }



  nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(20	25	32	);
    color: white;
    height: 60px;
    padding: 5px 0;
  }

  nav ul{
    background-color: rgb(20	25	32	);
    width: 100%;
  }

  nav li{
      list-style: none;
      display: inline;
      font-size: 1.5rem;
      padding: 0 15px;
      background-color: rgb(20	25	32	);
  }

  nav a{
    text-decoration: none;
    color: white;
  }

  form{
    display: inline;
  }

  .title a{
      color: goldenrod;
      font-size: 3rem;
      font-weight: bold;
  }

  nav input{
      width: 50%;
  }

  .bannerSection{
    display: flex;
    justify-content: center;
    overflow: hidden; /*hidden to prevent bottom part of cropped image from showing behind items */
    margin: 20px;
    padding-top: 15px;
  }

  #banner{
    width: 1500px;
    margin-bottom: -275px; /*negative to crop bottom part of image */
    border: 1px solid pink;

  }
  
  .container{
      display: flex;
      /* border: 1px solid blue; */
      width: 90%;
      height: 300px;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center;
  }

  .item{
      display: flex;
      /* border: 1px solid green; */
      background-color: white;
      width: 250px;
      height: 100%;
      text-align: center;
      font-size: 3rem;
      flex-direction: column-reverse;
      margin: 10px 20px;
      
  }

  .item a{
    background-color: white;
    text-decoration: none;
    color: black;
  }

  .item_img{
      width: 200px;
      height: 220px;
      margin: 10px auto;
  }

  /******************************************
  /* MEDIA QUERIES
  /*******************************************/
  

  @media screen and (max-width: 1200px){
    .destination{
      display: none;
    }
  }

  @media screen and (max-width: 900px){
    nav{
      height: 80px;
    }

    nav ul{
      padding-left: 10px;
    }
  }